.footer{
    width: 1927px;
    height: 57px;
    background-color:rgb(57, 60, 63);
    margin-left: -10px;
}

.footer > .footer-wrapper{
    display: flex;
    justify-content: center;    
    
}

.footer > .footer-wrapper > .footer-text{
    width: 495px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid grey;
}

.footer > .footer-wrapper > .footer-text h1{
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.footer > .footer-wrapper > .footer-text nobr{
    font-weight: 900;
    font-family: 'Lato 900', sans-serif;
    font-size: 1.5em;
    letter-spacing: -2px;
}

